.Images {
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .image_container {
        height: 200px;
        margin: 7px;
        cursor: pointer;
        box-shadow: 0 0 10px #00000080;

        &:hover{
            transform: scale(1.07);
        }

        transition: all ease 0.5s;

        img {
            border-radius: 2px;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media(max-width:660px)
{
    .Images{
        height: 70%;
    }
}