@import "./../../App";

.SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px 8px 0px;
    z-index: 1;

    input{
        border: none;
        border-radius: 10px;
        margin: 2px;
        height: 32px;
        transition: all ease 0.5s;
    }

    input[type="text"]{
        background: linear-gradient($yellow,$yellow) center bottom  2px/100% 1px no-repeat;
        background-color: $white;
        padding: 2px;
    }

    .search_input{ 
        min-width: 300px;
        border: none;
        border-radius: 10px;
        ::placeholder{
            color: $grey;
        }
    }

    .search_button{
        width: 150px;

        &:disabled{
            color: $grey;
            &:hover{
                background-color: $white;
            }
        }
    }
}

@media(max-width:660px)
{
    .SearchBar{
        display: flex;
        flex-direction: column;
        
        .search_button, .search_input{
            width: 90%;
        }
    }
}