.Header {
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 72%;

    img{
        margin: 5px 0px 2px 0px;
        width: 200px;

    }
}