@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//global style

$lime: #47B39D;
$orange: #EB6B56;
$yellow: #FFC153;
$red: #B05F6D;
$violet:#462446;
$white:#fff;

* {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  min-width: 360px;
}

button,
input {
  outline: none;
  cursor: pointer;
}



.lime_button {
  background-color: $white;
  color: $lime;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;

  &:hover {
    background-color: $lime;
    color: $white;
  }
}

.red_button {
  background-color: $white;
  color: $red;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.orange_button {
  background-color: $white;
  color: $orange;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.violet_button {
  background-color: $white;
  color: $violet;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;

  &:hover {
    background-color: $violet;
    color: $white;
  }
}

.yellow_button {
  background-color: $white;
  color: $yellow;
  border: none;
  border-radius: 5px;
  transition: all ease 0.5s;

  &:hover {
    background-color: $yellow;
    color: $white;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.animated {
  animation: slide-up 0.5s ease;

  @keyframes slide-up {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
}